extends index
block content 
    div(id="options")
            button(id="clearCanvas") Clear Canvas
            button(id="undo") undo
            button(id="redo") redo
            a(id="downloadCanvasLink")
                button(id="downloadCanvas") Download as Image
            div(id="penSz")
                h3(id="pSize") 5
                button(id="inc") + [+]
                button(id="dec") - [-]
            div(id="pColor") 
            div(id="penColor") 
                p pen color(hex) #
                    input(class="color{pickerFaceColor:'transparent',pickerFace:3,pickerBorder:0,pickerInsetColor:'black'}", value="ffffff", id="pColorInp") 
            div(id="bColor") 
            div(id="bgColor") 
                p background color(hex) #
                    input(class="color{pickerFaceColor:'transparent',pickerFace:3,pickerBorder:0,pickerInsetColor:'black'}", value="ffffff", id="bgColorInp") 
            button(id="eraser") eraser [2]
            button(id="pen") pen [1] 
    canvas(id="canvasBg", width="500", height="500")
    canvas(id="canvas", width="500", height="500")
    button(id="fullScreen") Full Screen
    div(id="info")
        h3 Info
        p + key to Increase pensize
        p - key to Increase pensize
        p 1 key for pen
        p 2 key for eraser
        p enter to enter/escape full screen
