extends index2
block content
    div(id="container")
        div(id="error")
            h3
        form(method="POST",action="/room")
            input(id="username",class="inp",name="uname",placeholder="  username")
            input(id="room",class="inp",name='roomId',placeholder="  roomId")
            input(type="submit",value="submit")
