doctype html
html(lang='en')
	head
		title="coDraw"
		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(type="text/javascript", src="/js/jquery-2.1.1.min.js")
		script(type="text/javascript", src="/js/canvas.js")
		script(type="text/javascript", src="/js/socket.js")
		link(type="text/css", href="/css/room.css", rel="stylesheet")
	body
		block content
