doctype html
html(lang='en')
	head
		title="coDraw"
		script(type="text/javascript", src="/js/socket.io-1.2.0.js")
		script(type="text/javascript", src="/js/jquery-2.1.1.min.js")
		script(type="text/javascript", src="/js/canvas.js")
		script(type="text/javascript", src="/js/socket.js") 
		script(type="text/javascript", src="/js/jscolor/jscolor.js")
		link(type="text/css", href="/css/room.css", rel="stylesheet")
	body
		block content
