extends index
block content 
        div(id="options")
                button(id="clearCanvas",title="Clear Canvas")
                    img(src="/img/t_clear.png")
                button(id="textTool",title="Text [t]")
                    img(src="/img/t_text.png")
                button(id="brush",title="Brush [3]")
                    img(src="/img/t_brush.png")
                button(id="eraser",title="Eraser [2]") 
                    img(src="/img/t_eraser.png")
                button(id="pen",title="Pencil [1]")
                    img(src="/img/t_pencil.png")
                button(id="circleTool",title="Circle [c]")
                    img(src="/img/t_circle.png")
                button(id="lineTool",title="Line []")
                    p line
                button(id="rectangleTool",title="Rectangle []")
                    p rectangle
                a(id="downloadCanvasLink")
                    button(id="downloadCanvas")
                        img(src="/img/t_download.png")
                div(id="penSz")
                    h3(id="pSize") 5
                    button(id="inc") + [+]
                    button(id="dec") - [-]
                button
                    div(id="pColor") 
                div(id="penColor") 
                    p pen color(hex) # <br>
                        input(class="color{pickerFaceColor:'transparent',pickerFace:3,pickerBorder:0,pickerInsetColor:'black'}", value="000000", id="pColorInp") 
                button
                    div(id="bColor") 
                div(id="bgColor") 
                    p background color(hex) #
                        input(class="color{pickerFaceColor:'transparent',pickerFace:3,pickerBorder:0,pickerInsetColor:'black'}", value="ffffff", id="bgColorInp") 
                input(id='lineWidth',class='optionInput',placeholder='   line width')
                p(id="opacityVal") opacity 1
                input(id="opacity", min="0", max="1", type="range",step="0.1",value="1")

        canvas(id="canvasBg")
            Your browser does not support canvas element.
        canvas(id="canvas")
            Your browser does not support canvas element.
        div(id="toolOptions")
            p tool : pen [1]
        div(id="info")
            h2 Info
            h3 + 
            span key to Increase pensize
            br
            h3 - 
            span key to Increase pensize
            br
            h3 1 
            span key for pen
            br
            h3 2 
            span key for eraser
            br
            h3 enter &nbsp
            span to enter/escape full screen
            br
            h3 c 
            span for circles   
            br
        div(id="status") 
        div(id="chatWindow")
            h4 chat window
            form(action="",id="sendUser")
                input(id="username",placeholder="   username")
                input(type="submit",class="btn", value="select")
                p(class='error') 
            ul(id="messages")
            div(id="replyWindow")
                form(id="messageForm",action="")
                    input(id="reply",placeholder="   Message...",autocomplete="off")
                    input(type="submit",id="send", value="send")
                    p(class="error") 
    div(id="options")
            button(id="clearCanvas",title="Clear Canvas")
                img(src="/img/t_clear.png")
            button(id="textTool",title="Text [t]")
                img(src="/img/t_text.png")
            button(id="brush",title="Brush [3]")
                img(src="/img/t_brush.png")
            button(id="eraser",title="Eraser [2]") 
                img(src="/img/t_eraser.png")
            button(id="pen",title="Pencil [1]")
                img(src="/img/t_pencil.png")
            button(id="circleTool",title="Circle [c]")
                img(src="/img/t_circle.png")
            a(id="downloadCanvasLink")
                button(id="downloadCanvas")
                    img(src="/img/t_download.png")
            div(id="penSz")
                h3(id="pSize") 5
                button(id="inc") + [+]
                button(id="dec") - [-]
            button
                div(id="pColor") 
            div(id="penColor") 
                p pen color(hex) # <br>
                    input(class="color{pickerFaceColor:'transparent',pickerFace:3,pickerBorder:0,pickerInsetColor:'black'}", value="000000", id="pColorInp") 
            button
                div(id="bColor") 
            div(id="bgColor") 
                p background color(hex) #
                    input(class="color{pickerFaceColor:'transparent',pickerFace:3,pickerBorder:0,pickerInsetColor:'black'}", value="ffffff", id="bgColorInp") 
            input(id='lineWidth',class='optionInput',placeholder='   line width')
    canvas(id="canvasBg", width="500", height="500")
    canvas(id="canvas", width="500", height="500")
    button(id="fullScreen") Full Screen
    div(id="toolOptions")
        p tool : pen [1]
    div(id="info")
        h2 Info
        h3 + 
        span key to Increase pensize
        br
        h3 - 
        span key to Increase pensize
        br
        h3 1 
        span key for pen
        br
        h3 2 
        span key for eraser
        br
        h3 enter &nbsp
        span to enter/escape full screen
        br
        h3 c 
        span for circles   
        br
    div(id="status") 
    div(id="chatWindow")
        h4 chat window
        form(action="",id="sendUser")
            input(id="username",placeholder="   username")
            input(type="submit",class="btn", value="select")
            p(class='error') 
        ul(id="messages")
        div(id="replyWindow")
            form(id="messageForm",action="")
                input(id="reply",placeholder="   Message...",autocomplete="off")
                input(type="submit",id="send", value="send")
                p(class="error") 
