/*
 *
 * For the home page of laSquare
 *
 */
body{
    background:url(/img/background.png);    
}
#container {

    margin:200px auto;
    width:500px;
}

form {

    padding:20px;
    border:10px solid #EF4F1D;
}
.inp {
   padding:10px; 
    margin: auto;
    width:200px;
}
input[type="submit"]{
    width:100px;
    background:none;
    color: #ccc;
    border:5px solid #fff;
    float:right;
}

#error h3{
    color:#EF4F1D;
}
