/*
 * darker orange #EF1511
 * lighter orange #EF4F1D
 */
body{
    padding:0px;
    margin:0px;
   /*2A2C2B*/ 
    background:url(/img/background.png);
}

canvas{
    z-index:2;
    border:5px solid #EF4F1D;
    position:absolute;
    top:50px;
    left:17%;
    display:block;
}
#canvasBg{
    z-index:1;
}
input{
    color:#EF4F1D;
    background:#343434;
    border:1px solid #EF4F1D; 
    border-radius:5px;
    margin:5px;
    height:22px;
}
/*
 * 
 * placeholders
 *
 */
::-webkit-input-placeholder {
   color: #EF4F1D;
}

:-moz-placeholder { /* Firefox 18- */
   color: #EF4F1D;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #EF4F1D;  
}

:-ms-input-placeholder {  
   color: #EF4F1D;
}

h3{
    display:inline;
}

/*
 * home page
 *
 */

#rooms label{
    color:#EF4F1D;
    display:inline-block;
    font-size:30px;
}
#rooms *{
    margin:10px;
}
#rooms{
    position:absolute;
    left:33%;
    width:30%;
    top: 30%; 
}
#rooms input{
    float:left;
}
.inp{
    width:60%;
    border-radius:10px;
    height:30px;
}
.hidden {
        display: none;
}
.visible {
        display: block;
   }
   
.inp:hover{
    background: transparent;
    background-color:#282828;
}
 

.sub{
    width:100px; 
}
/*============
 *
 *
 * Control Panel
 *
 *
 * ===========*/

#ctrl{
    text-align:center;
}
/*
    //
    // Background Options
    //
*/
#bg{
    float:right;
}
#bColor{
    width:10px;
    height:10px;
    margin:0 auto;
    display:inline-block;
    background-color:black;
}
/*
    //
    // Pen Options
    //
*/
#penSz{
 
}
#pColor{
    width:5px;
    height:5px;
    margin:0 auto;
    display:inline-block;
    background-color:black;
    border-radius:200px;
}
#options{
    width:10%;
    border:3px solid #EF4F1D;
    padding:40px 10px;
 /*   box-shadow:-2px -2px 9px rgba(0, 0, 0, 0.7),-4px -4px 20px rgba(0, 0, 0, 0.4);
    background:-webkit-linear-gradient(top,  #2c354e 0%,#576a97 100%);
  */
    border-left:0;
    background:#343434;
    height:100px;
    color:#EF4F1D; 
    position:absolute;
    top:150px;
    left:0px;
    overflow:auto;
}
#options h3{
    display:inline;
    margin:10px;
}

.closeLeft{
    z-index:3;
    position:absolute;
    top:0px;
    right:0px; 
}
.closeRight{
    z-index:3;
    position:absolute;
    top:0px;
    left:0px; 
}

/*
 *
 *
 *  Full Screen
 *
 *
 */

#fullScreen{
    margin-top:27px; 
}

/*
 *
 * Information summary
 *
 */
#info{ 
    border:3px solid #EF4F1D;
    display:block;
    background-color:#343434;
    position:absolute; 
    left:0px;
    bottom:0px;
    border-left:0;
    padding:10px;
    margin-left:3px;
    color:#EF4F1D;
    font-size:13px;
    overflow:auto;
}
/*
 *
 *
 * Status
 *
 */
#status{
    width:100%;
    border:2px solid #EF4F1D;
    height:20px;
    background-color:#343434;
    position:absolute;
    top:0px;
    left:0px;
    color:#EF4F1D;
    vertical-align:middle;
}
#status p{
    position:absolute;
    top:0px;
    margin:0px;
    left:0px;
}

/*
 *buttons
 */
button{
    background:#343434;
    color:#EF4F1D;
    border:1px solid #EF4F1D;
    margin:5px;
}
/*
 *
 * Tool Options
 *
 */
#toolOptions{
    width:100px;
    height:100px;
    color:#EF4F1D;
    background:#343434;
    border:1px solid #EF4F1D; 
    padding:10px;
    border-right:0;
    position:absolute;
    right:0px;
}
#toolOptions p{
    margin:5px;
    position:absolute;
    bottom:30px;
}

#toolOptions select{
    position:absolute;
    bottom:0px;
    margin:10px;
}
.optionInput{
    width:70px; 
    border:1px solid #EF4F1D; 
}

/*
 *
 * Chat Window
 *
 */
#chatWindow{
    position:absolute;
    top:54%;
    padding:10px;
    height:250px;
    right:0px;
    color:#EF4F1D;
 /*   background:#343434;
*/  

    border:1px solid #EF4F1D; 
    width:28%;
    overflow:auto;
}
#replyWindow{
    display:none;
    padding:10px;
    width:90%;
    bottom:-10px;
}
#reply{
    width:60%;
    display:inline;
}

#send{ 
    display:inline;
    color:#EF4F1D;
    background:#343434;
    border:1px solid #EF4F1D; 
}

.btn{
    color:#EF4F1D;
    background:#343434;
    border:1px solid #EF4F1D; 
}
.mySent{
    background-color:#343434;
    color:#EF4F1D;
    word-wrap: break-word;
}
.otherSent{   
    background-color:#343434;
    word-wrap: break-word;
}
#messages{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}


