body{
    padding:0px;
    margin:0px;
   /*2A2C2B*/ 
    background:#000;
    width:100%;
    height:100%;
}
canvas{
    z-index:2;
    border:5px solid #EF4F1D;
    position:absolute;
    top:50px;
    left:25%;
    display:block;
}
/*
 *
 * home page
 *
 */

#rooms label{
    color:#EF4F1D;
    display:inline-block;
    font-size:30px;
}
#rooms *{
    margin:10px;
}
#rooms{
    position:absolute;
    left:33%;
    width:30%;
    top: 30%; 
}
#rooms input{
    float:left;
}
.inp{
    width:60%;
    border-radius:10px;
    height:30px;
}
.sub{
    width:100px; 
}
/*============
 *
 *
 * Control Panel
 *
 *
 * ===========*/

#ctrl{
    text-align:center;
}
/*
    //
    // Background Options
    //
*/
#bg{
    float:right;
}
#bColor{
    width:10px;
    height:10px;
    margin:0 auto;
    display:inline-block;
    background-color:black;
}
/*
    //
    // Pen Options
    //
*/
#penSz{
    float:right;
}
#pColor{
    width:5px;
    height:5px;
    margin:0 auto;
    display:inline-block;
    background-color:black;
    border-radius:200px;
}
#options{
    width:20%;
    border:3px solid #EF4F1D;
    padding:40px 10px;
 /*   box-shadow:-2px -2px 9px rgba(0, 0, 0, 0.7),-4px -4px 20px rgba(0, 0, 0, 0.4);
    background:-webkit-linear-gradient(top,  #2c354e 0%,#576a97 100%);
   */ 
    background:#343434;
    height:100px;
    color:#EF4F1D; 
    position:absolute;
    top:150px;
    overflow:scroll;
}
#options button{
    margin:5px;
}
#options h3{
    display:inline;
    margin:10px;
}

/*
 *
 *
 *  Full Screen
 *
 *
 */

#fullScreen{
    margin:30px;
}

/*
 *
 * Information summary
 *
 */
#info{
    z-index:0; 
    border:3px solid #EF4F1D;
    display:block;
    background-color:#343434;
    position:absolute; 
    bottom:0px;
    padding:10px;
    margin-left:3px;
    color:#EF4F1D;
}

/*
 *
 *
 * Status
 *
 */
#status{
    width:100%;
    border:2px solid #EF4F1D;
    height:20px;
    background-color:#343434;
    position:absolute;
    top:0px;
    color:#EF4F1D;
    vertical-align:middle;
}
#status p{
    position:absolute;
    top:0px;
    margin:0px;
    left:0px;
}

/*
 *buttons
 */
button{
    background:#343434;
    color:#EF4F1D;
    border:1px solid #EF4F1D;
}
/*
 *
 * Tool Options
 *
 */
#toolOptions{
    width:100px;
    color:#EF4F1D;
    background:#343434;
    border:1px solid #EF4F1D; 
    padding:5px;
    float:right;
}

.optionInput{
    width:70px; 
    border:1px solid #EF4F1D; 
}

/*
 *
 * Chat Window
 *
 */
#chatWindow{
    position:absolute;
    top:54%;
    padding:10px;
    height:40%;
    right:10px;
    color:#EF4F1D;
    background:#343434;
    border:1px solid #EF4F1D; 
    width:28%;
    overflow:scroll;
}
#replyWindow{
    display:none;
    padding:10px;
    position:fixed;
    width:20%;
    bottom:20px;
}
#reply{
    width:90%;
    border:0;
}

#send{
    position:absolute;
    right:0px;
    color:#EF4F1D;
    background:#343434;
    border:1px solid #EF4F1D; 
}

.btn{
    color:#EF4F1D;
    background:#343434;
    border:1px solid #EF4F1D; 
}
.mySent{
    background-color:#343434;
    color:#EF4F1D;
    word-wrap: break-word;
}
.otherSent{   
    background-color:#343434;
    word-wrap: break-word;
}
#messages{
    list-style-type: none; margin: 0; padding: 0; 
}


