body{
    padding:0px;
    margin:0px;
    background:#123;
    width:100%;
    height:100%;
}
label{
    color:#bbb;
    margin:10px;
}
canvas{
    z-index:2;
    position:absolute;
    top:50px;
    left:35%;
    float:right;
    display:block;
    background-color:"#123";
    border:1px dotted white;
}

/*============
 *
 *
 * Control Panel
 *
 *
 * ===========*/

#ctrl{
    text-align:center;
}
/*
    //
    // Background Options
    //
*/
#bg{
    float:right;
}
/*
    //
    // Pen Options
    //
*/
#penSz{
    float:right;
}
#penColor{
    float:right;
    overflow:scroll;
}
#pColor{
    width:5px;
    height:5px;
    margin:0 auto;
    display:inline-block;
    background-color:black;
    border-radius:200px;
}
#options{
    border:1px solid black;
    color:#bbb;
    width:20%;
    padding:40px 10px;
    background:#123456;
    height:100px;
    position:absolute;
    top:50px;
    overflow:scroll;
}
#options button{
    margin:5px;
}
#options h3{
    display:inline;
    margin:10px;
}

/*
 *
 *
 *  Full Screen
 *
 *
 */

#fullScreen{
    margin:20px;
}

/*
 *
 * Information summary
 *
 */
#info{
    z-index:0;
    display:block;
    background-color:#123456;
    position:absolute;
    border:1px solid black;
    bottom:0px;
    padding:10px;
    margin-left:3px;
    opacity:0.6; 
    color:yellow;
}
